* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-color: #121214;
  --button-color: #29292E;
  --surface-color: #202024;
  --surface-color-hover: rgba(255, 255, 255, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon.svg);
  --details-color: #FFA940;
}

.light {
  --text-color: black;
  --bg-color: #f2f2f2;
  --button-color: #5e5e5e54;
  --surface-color: rgba(0, 0, 0, 0.137);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
  --details-color: #4863F7;
}

body {
  /* 
  background-image: url(./assets/bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */

  /* background: color image repeat position/size */
  background: var(--bg-color) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 450px;
  padding: 24px 24px;
  margin: 56px auto;
  background-color: var(--surface-color);
  border-radius: 8px;

  /* 
  margin:
  [1 valor: todos os lados], 
  [2 valores: topo/base e laterais], 
  [3 valores: topo, laterias e base], 
  [4 valores: topo, direita, base e esquerda]
  */
}

/* Alguns elementos HTML possuem propriedade inline e outros block, o parâmetro "margin: auto" só funciona com elementos de display block*/

/* Profile */
#profile {
  text-align: center;
  /* Neste sentido, para centralizar a imagem na aplicação, foi adicionado o "text-align: center" na div pai para que os elementos ficarem centralizados */
  padding: 24px;
}

#profile img {
  width: 112px;
  /* display: block; margin: auto; só são utilizados quando os elementos pais não estão centralizando eles*/
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

.title {
  margin-bottom: 30px;
  font-size: 12px;
  color: var(--details-color);
}

/* Switch */
#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
  transition: outline ease 0.2s;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--details-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* Links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
  /* margin-top: 70px; */
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;
  
  border: 2px solid #12121400;
  background: var(--button-color);
  border-radius: 5px;
  
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
  text-decoration: none;
  font-weight: 500;
  
  transition: background 0.2s;
  transition: border 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid var(--details-color);
}

/* social links */
#social-links {
  display: flex;
  justify-content: center;

  /* padding: 24px 0; */

  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

footer a {
  color: var(--details-color);
}

/* media queries */
@media (max-width: 500px) {
  #container {
    width: 100%;
    max-width: 350px;
    padding: 24px 24px;
    margin: 34px auto;
    background-color: var(--surface-color);
    border-radius: 8px;
  }
}

/* animation */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

::-webkit-scrollbar {
    display: none;
}